@import "tailwindcss";
/* Lufga Font Family Setup */
@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaSemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("/src/assets/fonts/lufga/LufgaBlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

/* Apply Lufga globally */
* {
  font-family: "Lufga", sans-serif;
}

